

<div class="main_background">
<p id="notice"><%= notice %></p>
  <% @staffs.each do |staff| %>
    <div class="staff_frame">
      <%= image_tag(staff.img_url, :class => "staff_img") %>
        <h1 class="staff"><%= staff.name %></h1>
        <h3><%= staff.title %></h3>
        <p><%= staff.bio %></p> 
        <div class="admin_box">
          <% if @admin %>
            <%= link_to '<span class="fa fa-edit"></span> Edit'.html_safe, edit_staff_path(staff) %> | 
            <%= link_to '<span class="fa fa-remove"></span> Remove'.html_safe, staff, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div> 
    </div>
  <% end %>



    <div class="admin_box">
      <% if @admin %>
        <%= link_to 'New Film', new_staff_path, :class => "waves-effect waves-light btn valign" %>
      <% end %>
    </div>
</div>


