<%= form_for(@client) do |f| %>
  <div class="modal_box">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label "Image Url" %><br>
      <%= f.text_field :img_url %>
    </div>
    <div class="actions center">
      <%= f.submit "Save", class: "btn" %>  or  
      <%= link_to "Cancel", clients_url, class: "btn" %></div>
    </div>
  </div>
<% end %>
