<div class="main valign-wrapper">
<p id="notice" class="notice"><%= notice %></p>
<div class="container center ">
  <% @clients.each do |client| %>
		<div class="client_row valign">
			<div class="row">
			<div class="col s6 center_align">
				<%= image_tag(client.img_url, :class => "client_logo") %>

				<div class="admin_box">
				  <% if @admin %>
				  <div class="admin_options"><%= link_to '<span class="fa fa-edit"></span> Edit'.html_safe, edit_client_path(client) %>  |  <%= link_to '<span class="fa fa-remove"></span> Remove'.html_safe, client, method: :delete, data: { confirm: 'Are you sure?' } %>
				  </div>
				  <% end %>
			  </div>

			</div>

			<div class="col s6 center_align clear">
				<span class="client_name"><%= client.name %></span><br>
				<span class="subtitle"><%= client.description %></span>
			</div>

		  </div>
	  </div>
  <% end %>

  <div class="admin_box">
	  <% if @admin %>
			<%= link_to 'New Client', new_client_path, :class => "waves-effect waves-light btn" %>
	  <% end %>
  </div>
</div>
</div>


