<div class="main">
<!-- <div class="main_background"> -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @client.img_url %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
</div>
<!-- </div> -->