<%= form_for(@film) do |f| %>
  <% if @film.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@film.errors.count, "error") %> prohibited this film from being saved:</h2>

      <ul>
      <% @film.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="modal_box">
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :year %><br>
      <%= f.number_field :year %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
    <textarea id="film[description]" class="materialize-textarea">
     <%= (@film.description)%></textarea>
    </div>
    <div class="field">
      <%= f.label :img_url %><br>
      <%= f.text_field :img_url %>
    </div>
    <div class="field">
      <%= f.label :favorite %><br>
      <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked"/>
      <label for="filled-in-box"><%= f.check_box :favorite %></label>
    </div>
    <div class="actions">
      <%= f.submit "Save", class: "waves-effect waves-light btn modal-trigger" %>
    </div>
  </div>
<% end %>
