<p id="notice"><%= notice %></p>

<h1>Practice File Index</h1>
<div class="container">


<!-- <div class="project_box"> -->
	  <div class="row valign">
  		<% @films.each do |film| %>
    	<div class="col s12 m6 l3 center debug">

      <%= link_to image_tag(film.img_url), :class => "poster_thumb" do %>
        <%= image_tag film.film_path.first.image %>
      <% end %>

      <%= link_to show_item_general_path(item), :class => "picture" do %>
        <%= image_tag item.asset_files.first.image %>
      <% end %>


    	<div class="poster_index"><%= link_to image_tag(film.img_url, :class => "poster_thumb")%></div>
    	<div class="info"> 
      <h5><%= film.title %></h5> 
      <%= film.year %> </div>
      <% if !@admin %>
        <%= link_to 'Show', film %> | <%= link_to 'Edit', edit_film_path(film) %> | 
        <%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <!-- </div> -->
<!--     	  <div id="modal1" class="modal">
		    <div class="modal-content"> -->
    <!-- link_to image_tag("path/to/i‌​mage.png", :class => "class_name"), "google.com/" -->
<!-- </div> -->
<!-- </div> -->
    	</div>
    <% end %>
  </div>
</div>
<%= link_to 'New Film', new_film_path %>