
<div class="main">
<!-- <p id="notice"><%= notice %></p> -->
<h1>Films</h1>
  <div class="container project_frame">
    <div class="row valign">
  		<% @films.each do |film| %>
        <div class="col s12 m6 l3 center">
        <div class="poster_index">
          <%= link_to image_tag(film.img_url, :class => "poster_thumb"), film %>
        </div>
      	<div class="info"> 
          <h5>
          <% if film.favorite == true %>
            <span class="fa fa-star"></span> 
          <% end %>
          <%= film.title %></h5> 
          <h6>
          <% if film.year == nil %>
          <%= "Coming Soon" %>
          <% end %>
          <%= film.year %></h6> 
        </div>
        
        <div class="admin_box">
          <% if @admin %>
            <%= link_to '<span class="fa fa-edit"></span> Edit'.html_safe, edit_film_path(film) %> | 
            <%= link_to '<span class="fa fa-remove"></span> Remove'.html_safe, film, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>  
      	</div>
      <% end %>
    </div>
  </div>


    <div class="admin_box">
      <% if @admin %>
        <%= link_to 'New Film', new_film_path, :class => "waves-effect waves-light btn valign" %>
      <% end %>
    </div>

</div>