<div class="film_frame">
<div class="show_poster"><%= link_to image_tag(@film.img_url, :class => "poster")%></div>

<h1>
  <% if @film.favorite == true %>
    <span class="fa fa-star secondary"></span>
  <% end %>

 <div class="title_wrap"> <%= @film.title %> </div><span class="network_name"> (<%= @film.distributor %>)</span><br>

 <span class="year">  <%= @film.year %></span> </h1>

 <div class="divider"></div>
    <p> <%= markdown(@film.description) %> </p>

  <div class="divider"></div>

  <div class="admin_box">
    <%= link_to '<span class="fa fa-arrow-left"></span> Back'.html_safe, projects_path %>
    <% if current_admin %>
      | <%= link_to '<span class="fa fa-edit"></span> Edit'.html_safe, edit_film_path(@film) %>
      <% end %>
  </div>

</div>
