<h1>Marketing Ads</h1>
  <div class="container project_frame">
    <div class="row valign">
      <% @marketings.each do |marketing| %>
        <div class="col s12 m6 l3 center">
        <div class="poster_index">
          <%= link_to image_tag(marketing.img_url, :class => "poster_thumb"), marketing %>
        </div>
        <div class="info"> 
          <h5>
          <% if marketing.favorite == true %>
            <span class="fa fa-star"></span> 
          <% end %>
          <%= marketing.title %></h5> 

        </div>
        
        <div class="admin_box">
          <% if !@admin %>
            <%= link_to '<span class="fa fa-edit"></span> Edit'.html_safe, edit_marketing_path(marketing) %> | 
            <%= link_to '<span class="fa fa-remove"></span> Remove'.html_safe, marketing, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>  
        </div>
      <% end %>
    </div>
  </div>

<div class="admin_box">
  <% if !@admin %>
    <%=link_to '<span class="fa fa-plus"></span> New Marketing Ad'.html_safe, new_marketing_path, :class => "btn valign" %>
  <% end %>
</div>
