<div class="main_background">
<p id="notice"><%= notice %></p>
  <h1>Musicology Services</h1>
  <% @musicology_service.each do |musicology_service| %>
  <div class="musicology"><%= markdown(musicology_service.description) %></div>
  <div class="bullets"><%= markdown(musicology_service.bullets) %></div>
    <div class="staff_frame">
      <%= image_tag(musicology_service.img_url, :class => "staff_img") %>
        <h1 class="staff"><%= musicology_service.name %></h1>
        <h3><%= musicology_service.title %></h3>
        <p><%= markdown(musicology_service.bio) %></p>
    </div>

    <div class="admin_box">
      <% if current_admin %>
        <%= link_to '<span class="fa fa-edit"></span> Edit MUsicology'.html_safe, edit_musicology_service_path(musicology_service), :class => "btn" %> 
      <% end %>
    </div>
  <% end %>
  
</div>
