<!DOCTYPE html>
<html>
<head>
  <title>MCL Music Services</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="bar">
    </div>
        <nav>
          <%= link_to image_tag("MCL-Logo-Orange-RGB.png", :class => 'brand-logo'), {action: :'index', :controller => 'home'} %>

          <div id="nav-trigger">
            <span class="trig"></span>
          </div>
          <nav id="nav-main">
            <ul class="right">
              <li class="nav"><%= active_link_to '<span class="fa fa-home"></span> Home'.html_safe, home_index_path %></li>
              <!-- <li class="nav"><%= active_link_to "Services", home_services_path %></li> -->
              <li class="nav"><%= active_link_to "Clients", clients_path %></li>
              <li class="nav"><%= active_link_to "Projects", projects_path %></li>
              <li class="nav"><%= active_link_to "Staff", staffs_path %></li>
              <li class="nav"><%= active_link_to "Musicology", musicology_services_path %></li>
              <li class="nav"><%= active_link_to "Contacts", contacts_path %></li>
            </ul>
          </nav>
        <nav id="nav-mobile"></nav>
  </header>
  <div class="bar"></div>

<%= yield %>
<footer>
	  <ul>
    <% if current_admin %>

      <%= link_to logout_path, :class => "admin-btn right", method: :delete do %>
        <span class="fa fa-unlock"></span>
        <!-- new_film_path, :class => "admin-btn valign" -->
      <% end %>

    <% else %>
      <li><a class="waves-effect waves-light modal-trigger admin-btn right" href="/login"><span class="fa fa-lock"></span></a></li>
    <% end %>
    </ul>
</footer>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</body>
</html>
